<div class="card mb-4 box-shadow page-content container-lg p-0">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Oferty</h4>
  </div>
  <div class="card-body row">
    <div class="col-3 card p-0">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Wyszukaj</h5>
      </div>
      <div class="card-body p-0 ">

        <article class="card-group-item">
          <!--<header class="card-header">
            <h6 class="title">Range input </h6>
          </header>-->
          <div class="filter-content">
            <div class="card-body">
              <div class="form-row">

                <a (click)="clearFilters()" class="btn btn-warning mb-2 w-100" role="button">Wyczyść filtry &raquo;</a>
                <a (click)="applyFilter()" class="btn btn-primary mb-2 w-100" role="button">Zastosuj filtry &raquo;</a>

                <div class="form-group">
                  <label>Oferta</label>
                  <input [(ngModel)]="filters.searchString" class="form-control" placeholder="Wyszukaj oferty"
                         type="text">
                </div>

                <div class="border-top my-3"></div>

                <div class="form-group">
                  <label>Lokalizacja</label>
                  <input class="form-control" placeholder="Wprowadź lokalizację" type="text">
                </div>

                <div class="border-top my-3"></div>

                <div class="form-group">
                  <label>Kategoria</label>
                  <select class="form-control">
                    <option>Wybierz</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>

                <div class="border-top my-3"></div>

                <label>Poziom</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label">
                    Praktyki
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label">
                    Junior
                  </label>
                </div>

              </div>
            </div>
          </div>
        </article>

        <!--        <article class="card-group-item">-->
        <!--          <header class="card-header">-->
        <!--            <h6 class="title">Selection </h6>-->
        <!--          </header>-->
        <!--          <div class="filter-content">-->
        <!--            <div class="card-body">-->
        <!--              <div class="custom-control custom-checkbox">-->
        <!--                <span class="float-right badge badge-light round">52</span>-->
        <!--                <input type="checkbox" class="custom-control-input" id="Check1">-->
        <!--                <label class="custom-control-label" for="Check1">Samsung</label>-->
        <!--              </div>-->

        <!--              <div class="custom-control custom-checkbox">-->
        <!--                <span class="float-right badge badge-light round">132</span>-->
        <!--                <input type="checkbox" class="custom-control-input" id="Check2">-->
        <!--                <label class="custom-control-label" for="Check2">Black berry</label>-->
        <!--              </div> &lt;!&ndash; form-check.// &ndash;&gt;-->

        <!--              <div class="custom-control custom-checkbox">-->
        <!--                <span class="float-right badge badge-light round">17</span>-->
        <!--                <input type="checkbox" class="custom-control-input" id="Check3">-->
        <!--                <label class="custom-control-label" for="Check3">Samsung</label>-->
        <!--              </div> &lt;!&ndash; form-check.// &ndash;&gt;-->

        <!--              <div class="custom-control custom-checkbox">-->
        <!--                <span class="float-right badge badge-light round">7</span>-->
        <!--                <input type="checkbox" class="custom-control-input" id="Check4">-->
        <!--                <label class="custom-control-label" for="Check4">Other Brand</label>-->
        <!--              </div> &lt;!&ndash; form-check.// &ndash;&gt;-->
        <!--            </div> &lt;!&ndash; card-body.// &ndash;&gt;-->
        <!--          </div>-->
        <!--        </article>-->


      </div>
    </div>
    <div class="col p-1">

      <!--      <mat-paginator [length]="100"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           aria-label="Select page">

            </mat-paginator>-->

      <h1 *ngIf="!offers else loaded">Wczytywanie</h1>

      <ng-template #loaded>
        <mat-card *ngFor="let offer of offers" [routerLink]="['/recruitment-details/' + offer.id]" class="mb-1">
          <div class="row">
            <div class="col-4">
              <img
                alt="Blank"
                src="https://media.istockphoto.com/photos/apply-now-jobs-job-working-recruitment-employees-business-desk-picture-id643778458?k=6&m=643778458&s=612x612&w=0&h=42rZTES6oeZFldaS0TgZ3grMiaDYx_cZLw_pljZ5U6w=">
            </div>
            <div class="job-desc col">
              <h5 class="card-title">{{offer.title}}</h5>
              <p>{{offer.description}}</p>
            </div>
          </div>
        </mat-card>
      </ng-template>

    </div>
  </div>
</div>
