<div class="card mb-4 box-shadow page-content">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Oferty</h4>
  </div>
  <div class="card-body cont">
    <div class="first card">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal ">Wyszukaj</h5>
      </div>
      <div class="card-body p-0 ">

        <article class="card-group-item">
          <!--<header class="card-header">
            <h6 class="title">Range input </h6>
          </header>-->
          <div class="filter-content">
            <div class="card-body">
              <div class="form-row">
                <div class="form-group">
                  <label>Oferta</label>
                  <input type="text" class="form-control" placeholder="Wyszukaj oferty">
                </div>

                <div class="border-top my-3"></div>

                <div class="form-group">
                  <label>Lokalizacja</label>
                  <input type="text" class="form-control" placeholder="Wprowadź lokalizację">
                </div>

                <div class="border-top my-3"></div>

                <div class="form-group">
                  <label >Kategoria</label>
                  <select class="form-control">
                    <option>Wybierz</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>

                <div class="border-top my-3"></div>

                <label>Poziom</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label">
                    Praktyki
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label">
                    Junior
                  </label>
                </div>

              </div>
            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->

        <!--<article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Selection </h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <div class="custom-control custom-checkbox">
                <span class="float-right badge badge-light round">52</span>
                <input type="checkbox" class="custom-control-input" id="Check1">
                <label class="custom-control-label" for="Check1">Samsung</label>
              </div> &lt;!&ndash; form-check.// &ndash;&gt;

              <div class="custom-control custom-checkbox">
                <span class="float-right badge badge-light round">132</span>
                <input type="checkbox" class="custom-control-input" id="Check2">
                <label class="custom-control-label" for="Check2">Black berry</label>
              </div> &lt;!&ndash; form-check.// &ndash;&gt;

              <div class="custom-control custom-checkbox">
                <span class="float-right badge badge-light round">17</span>
                <input type="checkbox" class="custom-control-input" id="Check3">
                <label class="custom-control-label" for="Check3">Samsung</label>
              </div> &lt;!&ndash; form-check.// &ndash;&gt;

              <div class="custom-control custom-checkbox">
                <span class="float-right badge badge-light round">7</span>
                <input type="checkbox" class="custom-control-input" id="Check4">
                <label class="custom-control-label" for="Check4">Other Brand</label>
              </div> &lt;!&ndash; form-check.// &ndash;&gt;
            </div> &lt;!&ndash; card-body.// &ndash;&gt;
          </div>
        </article> &lt;!&ndash; card-group-item.// &ndash;&gt;-->


      </div>
    </div>
    <div class="second p-1">

<!--      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">

      </mat-paginator>-->

      <mat-card class="mb-1" *ngFor="let offer of offers" [routerLink]="['/recruitments/' + offer]">
        <div class="job-wrapper">
          <div class="img">
            <img src="https://media.istockphoto.com/photos/apply-now-jobs-job-working-recruitment-employees-business-desk-picture-id643778458?k=6&m=643778458&s=612x612&w=0&h=42rZTES6oeZFldaS0TgZ3grMiaDYx_cZLw_pljZ5U6w=" alt="Blank">
          </div>
          <div class="job-desc">
            <h5 class="card-title">TITLE</h5>
            <p>DESCRIPTION</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
