<ng-template #content class="" let-modal>
  <div class="card p-0 m-0">
    <h4 class="card-header">{{userAdminView.email}} | {{userAdminView.name}} {{userAdminView.surname}}</h4>
    <div class="mt-2 card-body row">
      <div class="row ">
        <div class="col-2 border-end">
          <img [src]="createImgPath()"
               alt="Thumbnail image"
               class="img-thumbnail rounded mb-2">

          <p *ngIf="userAdminView.city" class="mb-2">{{userAdminView.city.name}}</p>
          <p class="mb-2">Kontakt: {{userAdminView.phoneNumber}}</p>
        </div>

        <div class="col-8 border-end">
          <h5>Opis</h5>
          <p class="mb-2">{{userAdminView.description}}</p>

          <div *ngIf="userAdminView.github" class="mb-2 mt-5">
            <h5>Profil GitHub</h5>
            <a [href]="userAdminView.github" target="_blank">{{userAdminView.github}}</a>
          </div>

          <div *ngIf="userAdminView.github" class="mb-2">
            <h5>Profil LinkedIn</h5>
            <a [href]="userAdminView.linkedIn" target="_blank">{{userAdminView.linkedIn}}</a>
          </div>
        </div>
        <div class="col-2">
          <h6>Role użytkownika:</h6>
          <p *ngIf="!userRoles else loaded">Wczytywanie</p>
          <ng-template #loaded>
            <ul class="list-group">
              <li *ngFor="let role of userRoles" class="list-group-item">
                <div class="row">
                  <p class="col mb-0 mt-2">{{role}}</p>
                  <button (click)="removeUserRole(role)" class="btn btn-danger col-auto m-0">×</button>
                </div>

              </li>
            </ul>

            <div class="form-group mb-3">
              <label>Dodawanie roli:</label>
              <select [(ngModel)]="newRole" class="form-control">
                <option *ngFor="let role of userRolesEnum">{{role}}</option>
              </select>
              <button (click)="addUserRole(newRole)" class="btn btn-warning col-auto mt-2">Dodaj rolę</button>
            </div>

          </ng-template>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<button (click)="open(content)" class="btn btn-info">Szczegóły</button>
