<div class="panel">
  <div class="container">
    <h1 class="display-3 pt-3">Cars - Code Analysis Recruitment System</h1>
    <p>
      Aplikacja stosowana przy procesie rekrutacji dla firm, jako kompletna platforma do
      przeprowadzania jej procesu.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Zobacz więcej &raquo;</a></p>
  </div>
</div>

<div class="container mt-5">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Przyspieszenie procesu rekrutacji</h2>
      <p>Wszystkie dane kandydatów dostępne w jednym miejscu</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Jakość zatrudnianych pracowników</h2>
      <p>Zmniejszenie ryzyka dodatkowych kosztów związanych z zatrudnieniem niekompetentnych pracowników </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Duża swoboda</h2>
      <p>Możliwość przeprowadzenia rekrutacji zwracając uwagę na różne kryteria</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

</div>
