<div class="panel">
  <div class="container">
    <h1 class="display-3 pt-3">Cars - Code Analysis Recruitment System</h1>
    <p>
      Aplikacja stosowana przy procesie rekrutacji dla firm, jako kompletna platforma do
      przeprowadzania jej procesu. Pozwala na przeprowadzenie rekrutacji przez porównanie
      kodu źródłowego zgłaszanego przez użytkowników. Do analizy kodu źródłowego użyto narzędzia SonarQube.
    </p>
    <a class="btn btn-primary btn-lg" href="https://www.sonarqube.org/" role="button" target="_blank">
      Zobacz więcej o SonarQube &raquo;
    </a>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h2>Przyspieszenie procesu rekrutacji</h2>
      <p>Wszystkie dane kandydatów dostępne w jednym miejscu</p>
      <img class="img-fluid center w-75 p-5" src="/assets/img/innovation.png" alt="Chart image">
    </div>
    <div class="col-md-4">
      <h2>Jakość zatrudnianych pracowników</h2>
      <p>Automatyczna naliza projektów zgłoszonych przez kandydatów oraz możliwość poglądu ich wyników. </p>
      <img class="img-fluid center w-75 p-5" src="/assets/img/chart.png" alt="Chart image">
    </div>
    <div class="col-md-4">
      <h2>Duża swoboda</h2>
      <p>Możliwość porównania kandydatów używając różnych kryteriów. </p>
      <img class="img-fluid center w-75 p-5" src="/assets/img/dove.png" alt="Chart image">
    </div>
  </div>

</div>
