<div class="card mb-4 box-shadow container-lg p-0">

  <h1 *ngIf="!details else loaded">Wczytywanie</h1>

  <ng-template #loaded>
    <div class="card-header">
      <div class="row">
        <h4 class="my-0 font-weight-normal col">{{details.title}}</h4>
        <div class="float-end col">
          <app-apply [details]="details" class="float-end" content="{{details}}"></app-apply>
        </div>
      </div>
    </div>
    <div class="card-body row">
      <div class="col-5 border-end">
        <div class="text-center">
          <img [src]="createImgPath(details.imgUrl)"
               alt="Thumbnail image"
               class="figure-img img-fluid rounded">
        </div>
        <ul>
          <li>Poziom: {{enums.jobLevels[details.jobLevel]}}</li>
          <li>Tryb pracy: {{enums.jobTypes[details.jobType]}}</li>
          <li>Typ: {{enums.recruitmentTypes[details.type]}}</li>
          <li>Lokalizacja: {{details.city.name}}</li>
          <li>Rozpoczęcie rekrutacji: {{details.startDate | date: 'dd-MM-yyyy'}}</li>
        </ul>
      </div>

      <div class="col">
        <h4>Streszczenie</h4>
        <p>{{details.shortDescription}}</p>

        <div class="border-top my-3"></div>

        <h4>Opis</h4>
        <p>{{details.description}}</p>
      </div>
    </div>
  </ng-template>
</div>
