@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. <a asp-page="./Login">Naciśnij tutaj aby się zalogować</a>.
</p>
