<ng-template #content class="" let-modal>
  <div class="card p-0 m-0">
    <h4 class="card-header">Podaj dane do aplikaji</h4>
    <div class="mt-2 card-body row">
      <!--      <form class="g-3 needs-validation" novalidate>-->
      <div class="col-8 border-end">
        <div class="form-group">
          <h5>Krótki opis</h5>
          <textarea [(ngModel)]="application.description"
                    class="form-control" placeholder="Krótka wiadomość do rekrutującego (nieobowiązkowa)"
                    rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>

        <div class="border-top my-2"></div>

        <h5>CV:</h5>
        <app-file-upload (onUploadFinished)="uploadFinishedCv($event)"></app-file-upload>

        <div class="border-top my-2"></div>

        <h5>List motywacyjny:</h5>
        <app-file-upload (onUploadFinished)="uploadFinishedCl($event)"></app-file-upload>

        <div class="border-top my-2"></div>

        <h5>Klauzule:</h5>

        <div class="form-check">
          <input [(ngModel)]="application.clauseRequiredAccepted" class="form-check-input" id="clauseReq" required
                 type="checkbox" value="">
          <label class="form-check-label" for="clauseReq">{{details.clauseRequired}}</label>
        </div>

        <div [hidden]="!details.clauseOpt1" class="form-check">
          <input [(ngModel)]="application.clauseOptAccepted" class="form-check-input" id="clauseCheck1" type="checkbox"
                 value="">
          <label class="form-check-label" for="clauseCheck1">{{details.clauseOpt1}}</label>
        </div>

        <div [hidden]="!details.clauseOpt2" class="form-check">
          <input [(ngModel)]="application.clauseOpt2Accepted" class="form-check-input" id="clauseCheck2" type="checkbox"
                 value="">
          <label class="form-check-label" for="clauseCheck2">{{details.clauseOpt2}}</label>
        </div>

        <!--      </form>-->
      </div>

      <div class="col">
        <h5>Projekty (Linki do publicznych repuzytorium GitHub):</h5>
        <div class="mx-3">
          <p *ngIf="application.projects.length == 0" class="alert alert-warning">Brak projektów</p>
          <div *ngFor="let proj of application.projects; let i = index" class="form-group mb-2 row">
            <input [(ngModel)]="application.projects[i]" class="form-control col ms-0" disabled
                   placeholder="Podaj tytuł" type="text">
            <button (click)="deleteProject(i)" class="btn btn-danger col-auto mx-2">×</button>
          </div>
        </div>

        <input [(ngModel)]="newProj" class="form-control m-2" placeholder="Podaj nowy projekt" type="text">
        <button (click)="addProject(newProj)" class="btn btn-success">Dodaj kolejny projekt</button>

        <button (click)="apply()" class="btn btn-success px-2 my-2 w-100" type="submit">Aplikuj</button>
      </div>

    </div>
  </div>
</ng-template>

<button (click)="open(content)" class="btn btn-success">Aplikuj</button>
