<ng-template #content class="" let-modal>
  <div class="card p-0 m-0">

    <div class="row card-header">
      <h4 class="col">Podaj dane do aplikaji</h4>
      <button (click)="apply()" class="btn btn-success px-2 me-2 col-auto" type="submit">Złóż aplikację</button>
    </div>

    <div class="mt-2 card-body row">
      <!--      <form class="g-3 needs-validation" novalidate>-->
      <div class="col-8 border-end">
        <div class="form-group">
          <h5>Krótki opis</h5>
          <textarea [(ngModel)]="application.description"
                    class="form-control" placeholder="Krótka wiadomość do rekrutującego (nieobowiązkowa)"
                    rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>

        <div class="border-top my-2"></div>

        <h5>CV:</h5>
        <app-file-upload (onUploadFinished)="uploadFinishedCv($event)"></app-file-upload>

        <div class="border-top my-2"></div>

        <h5>List motywacyjny:</h5>
        <app-file-upload (onUploadFinished)="uploadFinishedCl($event)"></app-file-upload>

        <div class="border-top my-2"></div>

        <h5>Klauzule:</h5>

        <div class="form-check">
          <input [(ngModel)]="application.clauseRequiredAccepted" class="form-check-input" id="clauseReq" required
                 type="checkbox" value="">
          <label class="form-check-label" for="clauseReq">{{details.clauseRequired}}</label>
        </div>

        <div [hidden]="!details.clauseOpt1" class="form-check">
          <input [(ngModel)]="application.clauseOptAccepted" class="form-check-input" id="clauseCheck1" type="checkbox"
                 value="">
          <label class="form-check-label" for="clauseCheck1">{{details.clauseOpt1}}</label>
        </div>

        <div [hidden]="!details.clauseOpt2" class="form-check">
          <input [(ngModel)]="application.clauseOpt2Accepted" class="form-check-input" id="clauseCheck2" type="checkbox"
                 value="">
          <label class="form-check-label" for="clauseCheck2">{{details.clauseOpt2}}</label>
        </div>

        <!--      </form>-->
      </div>

      <div class="col scroll-content">
        <h5>Projekty:</h5>
        <div class="mx-3 form-group">
          <p *ngIf="application.projects.length == 0" class="alert alert-warning">Brak projektów</p>
          <div *ngFor="let proj of application.projects; let i = index" class="card mb-2 card-body">
            <input [(ngModel)]="proj.title" class="form-control col ms-0 mb-1" placeholder="Podaj tytuł" type="text">
            <input [(ngModel)]="proj.description" class="form-control col ms-0 mb-1" placeholder="Opis projektu"
                   type="text">
            <input [(ngModel)]="proj.url" class="form-control col ms-0 mb-1" placeholder="Url GitHub projektu"
                   type="text">

            <div class="form-group mb-2 row">
              <div class="col">
                <label>Technologia</label>
                <select [(ngModel)]="technology[i]" class="form-control">
                  <option *ngFor="let level of technologies">{{level}}</option>
                </select>
              </div>

              <div class="col-auto">
                <button (click)="deleteProject(i)" class="btn btn-danger col-auto mx-2 mt-4">×</button>
              </div>
            </div>


          </div>
        </div>

        <!--        <input [(ngModel)]="newProj" class="form-control m-2" placeholder="Podaj nowy projekt" type="text">-->
        <button (click)="addProject()" class="btn btn-success">Dodaj kolejny projekt</button>
      </div>

    </div>
  </div>
</ng-template>

<button (click)="open(content)" class="btn btn-success">Aplikuj</button>
