<ul (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" *ngIf="isAuthenticated | async" class="navbar-nav">
  <li class="nav-item">
    <a [routerLink]='["/authentication/profile"]'

       class="nav-link text-dark user_name"
       title="Zarządzanie ustawieniami konta"
    >
      Witaj, {{ userName | async }}
    </a>

    <div *ngIf="displayProfile" class="user_c">

      <div class="user_info l">
        <img [src]="createImgPath()" alt="user"
             class="info_img">
        <p>Patryk Amsolik</p>
        <p>{{ userName | async }}</p>
      </div>

      <div class="u_menu r">
        <ul>
          <li><a [routerLink]='["/"]' [state]='{ local: true }' title="Powrót">Strona domowa</a></li>
          <li><a [routerLink]='["/authentication/profile"]' [state]='{ local: true }' title="Ustawienia">Ustawienia</a>
          </li>
          <li><a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Wyloguj się">Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </li>

</ul>
<ul *ngIf="!(isAuthenticated | async)" class="navbar-nav">
  <li class="nav-item">
    <a [routerLink]='["/authentication/register"]' class="nav-link text-dark">Rejestracja</a>
  </li>
  <li class="nav-item">
    <a [routerLink]='["/authentication/login"]' class="nav-link text-dark">Logowanie</a>
  </li>
</ul>
