/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
  background-color: #EDF7F6;
}

/*.card-body{*/
/*  background-color: #62727b;*/
/*}*/

/*header{*/
/*  background-color: #62727b;*/
/*}*/

body.modal-open {
  overflow: hidden;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav_color {
  background-color: #2660A4;
}


main {
  display: flex;
  flex-direction: column;
  min-height: 76vh;
}


[footer] {
  height: 150px;
  margin-top: -150px;
}


.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: gray;
  font-weight: 700;
}


/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
  font-weight: 700;
}

.page-content {
  min-height: 75vh;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.lt {
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 3.1em;
}

.ls {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.5s;
}

.let5 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let8 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 1.9s;
}

.let9 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 2.0s;
}

.let10 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 2.1s;
}

.let11 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 2.2s;
}

.let12 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 2.3s;
}

.let13 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 2.4s;
}

.let14 {
  animation: drop 2.2s ease-in-out infinite;
  animation-delay: 2.5s;
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }

  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    top: 6.94em
  }
}
