<div class="card mb-4 box-shadow page-content">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Panel administratora</h4>
  </div>

  <div class="card-body">
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="Wszystkie rekrutacje">
        <div class="example-small-box mat-elevation-z4">
          Wszystkie rekrutacje
        </div>
      </mat-tab>

      <mat-tab label="Rekruterzy">
        <div class="example-large-box mat-elevation-z4">
          Rekruterzy
        </div>
      </mat-tab>

      <mat-tab label="Kandydaci">
        <div class="example-large-box mat-elevation-z4">
          Kandydaci
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
