<div class="card mb-4 box-shadow page-content container-lg p-0">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Panel administratora</h4>
  </div>

  <mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="Wszystkie rekrutacje">
      <div class="card-body">
        <div class="example-small-box mat-elevation-z4">
          <app-recruitment-list-component apiUrl="api/recruitments/admin"
                                          redirectUrl="/recruitment-applications/"></app-recruitment-list-component>
        </div>
      </div>
    </mat-tab>



    <mat-tab label="Kandydaci">
      <div class="card-body">
        <app-user-list-component apiUrl="api/admin/users/"></app-user-list-component>
      </div>
    </mat-tab>

    <mat-tab label="Rekruterzy">
      <div class="card-body">
        <app-user-list-component apiUrl="api/admin/recruiters/"></app-user-list-component>
      </div>
    </mat-tab>

    <mat-tab label="Administratorzy">
      <div class="card-body">
        <app-user-list-component apiUrl="api/admin/admins/"></app-user-list-component>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
