img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.mat-card {
  color: black;
}

.base {
  background: white;
}

.selected {
  background: lightgreen;
}

.search {
  cursor: pointer;
}
