
img {
  max-width: 60%;
  max-height: 60%;
  margin: auto;
  object-fit: contain;
}

.job-wrapper {
  display: flex;
  justify-content: center;
}

.mat-card {
  color: black;
  height: 20vh;
}

.base {
  background: white;
}

.selected {
  background: lightgreen;
}

//.mat-card:hover {
//  background: darkgrey;
//  color: white;
//  cursor: pointer;
//}
