
img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

//.job-wrapper {
//  display: flex;
//  justify-content: center;
//}

.mat-card {
  color: black;
}

.base {
  background: white;
}

.selected {
  background: lightgreen;
}
//
//table {
//  width: 100%;
//}
//
//th.mat-sort-header-sorted {
//  color: black;
//}
//
//td.mat-cell {
//  /* row border */
//  text-align: center;
//  border: 1px solid #a2a2a2;
//}
//
//tr.mat-row:hover {
//  background-color: #818181;
//}
//
//td.mat-header-cell{
//  /* row border */
//  border: 1px solid #a2a2a2;
//}
//
//table {
//  /* row spacing / margin */
//  border-spacing: 0 8px !important;
//}
