<div class="card mb-4 box-shadow container-lg p-0">
  <h1 *ngIf="!recruitmentApplications || !recruitment else loaded"></h1>

  <ng-template #loaded>


    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Aplikacje do rekrutacji: {{recruitment.title}}</h4>
    </div>

    <div class="card-body">
      <div class="col-auto">
        <h5 *ngIf="recruitment.status==1" class="alert alert-warning">Rekrutacja zamknięta</h5>

        <button [routerLink]="['/recruitment-settings/' + id]" class="btn btn-warning me-5">Edycja rekrutacji</button>
        <button [routerLink]="['/recruitment-details/' + id]" class="btn btn-primary me-5">Pogląd rekrutacji</button>

        <button (click)="selectCandidates()" *ngIf="recruitment.status!=1" class="btn btn-success">
          Wybierz kandydatów i zakończ rekrutację
        </button>

      </div>

      <h1 *ngIf="recruitmentApplications.length == 0 else any">Brak aplikacji</h1>

      <ng-template #any>
        <section class="row py-3">
          <h6 class="col">Ilość aplikacji: {{recruitmentApplications.length}}</h6>
          <h6 class="col-auto">Dla wszystkich parametrów im mniejsza wartość, tym lepiej.</h6>
        </section>

        <table aria-label="Applications" class="table table-hover table-bordered ">
          <thead>
          <tr>
            <th [appSort]="recruitmentApplications" class="col-4 th-sm search" data-name="applicant.name"
                id="th-name">Lista aplikacji
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.bugs"
                data-order="desc"
                id="th-bugs">Ilość błędów
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.securityRating"
                data-order="desc"
                id="th-securityRating">Ocena bezpieczeństwa
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.codeSmells"
                data-order="desc"
                id="th-codeSmells">Ilość Code Smells
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.duplicatedLinesDensity"
                data-order="desc"
                id="th-duplicatedLinesDensity">Powtórzenia (%)
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.reliabilityRating"
                data-order="desc"
                id="th-reliabilityRating">Ocena niezawodności
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.maintainabilityRating"
                data-order="desc"
                id="th-maintainabilityRating">Ocena utrzymywalności
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.technicalDebt"
                data-order="desc"
                id="th-technicalDebt">Dług techniczny (min)
            </th>
            <th [appSort]="recruitmentApplications" class="col-1 search" data-name="codeOverallQuality.overallRating"
                data-order="desc" id="th-overallRating">Ogólna ocena
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let application of recruitmentApplications"
              class="{{application.selected ? 'selected' : 'base'}}">
            <td id="no-center">
              <div class="row">
                <div class="col-6">
                  <img [src]="authorizeService.createImgPath(application.applicant.profilePicture)"
                       alt="Thumbnail image"
                       class="img-fluid">
                  <p class="mt-2"> {{application.time | date: 'dd-MM-yyyy HH:mm'}}</p>
                </div>

                <div class="col-6 border-dark">
                  <h5>{{application.applicant.name}}</h5>
                  <p>{{application.description}}</p>

                  <app-application-details [details]="application"
                                           [recruitment]="recruitment"></app-application-details>

                  <div class="form-check pt-2">
                    <input [(ngModel)]="application.selected" [disabled]="recruitment.status == 1"
                           class="form-check-input"
                           id="flexSelected{{application.id}}" type="checkbox">
                    <label class="form-check-label" for="flexSelected{{application.id}}">
                      Wybrano
                    </label>
                  </div>
                </div>
              </div>
            </td>

            <td *ngIf="!application.codeOverallQuality else examined" class="pt-5"
                colspan="8"><h4>Projekt nie został jeszcze zbadany</h4>
            </td>

            <ng-template #examined>
              <td
                *ngIf="!application.codeOverallQuality.success && application.codeOverallQuality.retries > 3 else success"
                class="pt-5"
                colspan="8"><h4>Badanie nie powiodło się</h4>
              </td>
              <ng-template #success>
                <td> {{getValue(application.codeOverallQuality.bugs)}}</td>
                <td> {{getValue(application.codeOverallQuality.securityRating)}}</td>
                <td> {{getValue(application.codeOverallQuality.codeSmells)}}</td>
                <td> {{getValue(application.codeOverallQuality.duplicatedLinesDensity)}}</td>
                <td> {{getValue(application.codeOverallQuality.reliabilityRating)}}</td>
                <td> {{getValue(application.codeOverallQuality.maintainabilityRating)}}</td>
                <td> {{getValue(application.codeOverallQuality.technicalDebt)}}</td>
                <td> {{getValue(application.codeOverallQuality.overallRating)}}</td>
              </ng-template>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </ng-template>
</div>
