.card {
  padding: 1%;
  margin-bottom: 1%;
}

.panel-heading {
  padding: 1%;
}

.btn-right {
  float: right;
}

.buttons {
  width: 25%;
}

.stick {
  float: right;
}

img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
