<ng-template #content class="" let-modal>
  <div class="card p-0 m-0">
    <div class="row card-header">
      <h4 class="col">{{details.applicant.email}}</h4>
      <button (click)="close()" class="btn btn-danger col-auto me-2">×</button>
    </div>

    <div class="mt-2 card-body row">
      <!--      <form class="g-3 needs-validation" novalidate>-->
      <div class="col-md-8 border-end">

        <div class="row ">
          <div class="col-auto">
            <img [src]="createImgPath()"
                 alt="Thumbnail image"
                 class="img-thumbnail rounded ">
          </div>

          <div class="col">
            <h4 class="mb-2">Imię: {{details.applicant.name}} </h4>
            <h4>Nazwisko: {{details.applicant.surname}}</h4>

            <div class="border-top my-2"></div>

            <div *ngIf="details.applicant.github" class="mb-2">
              <h5>Profil GitHub</h5>
              <a [href]="details.applicant.github" target="_blank">{{details.applicant.github}}</a>
            </div>

            <div *ngIf="details.applicant.github" class="mb-2">
              <h5>Profil LinkedIn</h5>
              <a [href]="details.applicant.linkedIn" target="_blank">{{details.applicant.linkedIn}}</a>
            </div>

            <h5>Opis</h5>
            <p>{{details.description}}</p>
          </div>

        </div>

        <div class="border-top my-2"></div>
        <div class="row">
          <div class="col-md-6 border-end">
            <h5>CV:</h5>
            <p *ngIf="!details.cvFile else cv">Brak</p>
            <ng-template #cv>
              <button
                (click)="downloadFile(details.cvFile, details.applicant.name + '_' + details.applicant.surname + '_' + 'CV')"
                class="btn btn-success">
                Pobierz
              </button>
            </ng-template>
          </div>
          <div class="col-6">
            <h5>List motywacyjny:</h5>

            <p *ngIf="!details.clFile else cl">Brak</p>
            <ng-template #cl>
              <button
                (click)="downloadFile(details.clFile, details.applicant.name + '_' + details.applicant.surname + '_' + 'CL')"
                class="btn btn-success">
                Pobierz
              </button>
            </ng-template>
          </div>
        </div>

        <div class="border-top my-2"></div>

        <h5>Zaakceptowane klauzule:</h5>
        <div class="form-check">
          <input checked class="form-check-input" disabled id="clauseReq" required type="checkbox" value="">
          <label class="form-check-label" for="clauseReq">{{recruitment.clauseRequired}}</label>
        </div>

        <div [hidden]="!recruitment.clauseOpt1" class="form-check">
          <input [ngModel]="details.clauseOptAccepted" class="form-check-input" disabled id="clauseCheck1"
                 type="checkbox" value="">
          <label class="form-check-label" for="clauseCheck1">{{recruitment.clauseOpt1}}</label>
        </div>

        <div [hidden]="!recruitment.clauseOpt2" class="form-check">
          <input [ngModel]="details.clauseOpt2Accepted" class="form-check-input" disabled id="clauseCheck2"
                 type="checkbox" value="">
          <label class="form-check-label" for="clauseCheck2">{{recruitment.clauseOpt2}}</label>
        </div>

      </div>

      <div class="col">

        <app-projects-details-details [details]="details" class="col-auto"></app-projects-details-details>


      </div>

    </div>
  </div>
</ng-template>

<button (click)="open(content)" class="btn btn-info">Szczegóły</button>
