@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Wygeneruj kody odzyskiwania uwierzytelniania dwustopniowego";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Zachowaj te kody w razie potrzeby.</strong>
    </p>
    <p>
        Jeśli zgubisz urządzenie i nie będziesz mieć kodów odzyskiwania, utracisz dostęp do swojego konta.
    </p>
    <p>
        Generowanie nowych kodów awaryjnych nie zmienia kluczy użytych w aplikacjach uwierzytelniających. Jeśli chcesz
        zmienić klucz <a asp-page="./ResetAuthenticator">zmień klucze autoryzacji.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generuj klucze awaryjne</button>
    </form>
</div>