@page
@using Microsoft.AspNetCore.Components.Web
@model IndexModel
@namespace Cars.Areas.Identity.Pages.Account.Manage

@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="m-3">
    <div class="row border-bottom pb-3 mb-3 ">
        <div class="col-3">
            <h4>@ViewData["Title"]</h4>
        </div>
    
        <div class="col-auto justify-content-center mx-2">
            <div >
                <img class="img-thumbnail rounded" alt="Profile picture" src="@Model.ProfileUrl"/>
            </div>
        </div>
        <div class="col-auto mr-5">
            <form method="post" asp-page-handler="view" enctype="multipart/form-data">
                <div class="row">
                    <label for="file-upload" class="custom-file-upload">Wybierz plik</label>
                    <input id="file-upload" asp-for="Upload" type="file"/>
                </div>
                <button id="update-profile-picture-button" type="submit" class="btn btn-success my-2 row">Zmień zdjęcie</button>
            </form>
        </div>
    </div>
    
</div>


<partial name="_StatusMessage" model="Model.StatusMessage"/>
<form id="profile-form" method="post">
    <div class="row mt-2">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled/>
            </div>


            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Input.Github"></label>
                <input asp-for="Input.Github" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="Input.LinkedIn"></label>
                <input asp-for="Input.LinkedIn" class="form-control"/>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary mb-3">Zapisz</button>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <textarea asp-for="Input.Description" class="form-control" rows="5"></textarea>
            </div>
        </div>

    </div>
</form>

<style>
    img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
    
    input[type="file"] {
        display: none;
    }
    
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        margin-right: 20px;
        background-color: #ffffff;
          -webkit-transition: background-color 0.5s ease-out;
          -moz-transition: background-color 0.5s ease-out;
          -o-transition: background-color 0.5s ease-out;
          transition: background-color 0.5s ease-out;
    }
    
    .custom-file-upload:hover {
        background-color: #c5c5c5;
          -webkit-transition: background-color 0.5s ease-out;
          -moz-transition: background-color 0.5s ease-out;
          -o-transition: background-color 0.5s ease-out;
          transition: background-color 0.5s ease-out;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}