@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Uwierzytelnianie dwustopniowe";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<h4>@ViewData["Title"]</h4>
@if (Model.Is2FaEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nie masz już kodów odzyskiwania.</strong>
            <p><a asp-page="./GenerateRecoveryCodes">Wygeneruj nowy zestaw kodów odzyskiwania</a> aby nie stracić dostępu do swojego konta.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Pozostał Ci 1 kod odzyskiwania.</strong>
            <p>Możesz <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw kodów odzyskiwania</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Masz @Model.RecoveryCodesLeft kodów odzyskiwania.</strong>
            <p>Możesz <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw kodów odzyskiwania</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-warning">Zapomnij tą przeglądarkę</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-danger">Wyłącz dwustopniową autoryzację</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Zresetuj kody odzyskiwania</a>
}

<h5>Aplikacja uwierzytelniająca</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">Dodaj aplikację uwierzytelniającą</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">Skonfiguruj aplikację uwierzytelniającą</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-secondary">Zresetuj aplikację uwierzytelniającą</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}