<div class="card mb-4 box-shadow container-lg p-0">
  <h1 *ngIf="!settings else loaded">Wczytywanie</h1>

  <ng-template #loaded>
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{editMode ? "Edycja oferty pracy" : "Tworzenie nowej oferty pracy"}}</h4>
    </div>
    <div class="card-body row">
      <div class="col-5">
        <img [src]="createImgPath(settings.imgUrl)" alt="Wybierz zdjęcie" class="figure-img img-fluid rounded">

        <app-file-upload (onUploadFinished)="uploadFinished($event)"></app-file-upload>
      </div>

      <form class="col mb-3">

        <div class="form-group mb-3">
          <label>Poziom</label>
          <select [(ngModel)]="enums.jobLevel" [ngModelOptions]="{ standalone: true }" class="form-control">
            <option *ngFor="let level of enums.jobLevels">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Typ pracy</label>
          <select [(ngModel)]="enums.jobType" [ngModelOptions]="{ standalone: true }" class="form-control">
            <option *ngFor="let level of enums.jobTypes">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Typ rekrutacji</label>
          <select [(ngModel)]="enums.recruitmentType" [ngModelOptions]="{ standalone: true }" class="form-control">
            <option *ngFor="let level of enums.recruitmentTypes">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Rozmiar zespołu</label>
          <select [(ngModel)]="enums.teamSize" [ngModelOptions]="{ standalone: true }" class="form-control">
            <option *ngFor="let level of enums.teamSizes">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Dział pracy</label>
          <input [(ngModel)]="settings.field" [ngModelOptions]="{ standalone: true }" class="form-control"
                 placeholder="Podaj dział" type="text">
          <small class="form-text text-muted">Maksymalnie 200 znaków.</small>
        </div>

      </form>
      <form class="border-top mt-2 pt-2">

        <div class="form-group mb-3">
          <label>Tytuł ogłoszenia</label>
          <input [(ngModel)]="settings.title" [ngModelOptions]="{ standalone: true }" class="form-control"
                 placeholder="Podaj tytuł" type="text">
          <small class="form-text text-muted">Maksymalnie 200 znaków.</small>
        </div>

        <div class="form-group mb-3">
          <label>Krótki opis</label>
          <textarea [(ngModel)]="settings.shortDescription" [ngModelOptions]="{ standalone: true }"
                    class="form-control" placeholder="Krótki opis widoczny na karcie przy wyszukiwaniu"
                    rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 500 znaków.</small>
        </div>

        <div class="form-group mb-3">
          <label>Opis oferty</label>
          <textarea [(ngModel)]="settings.description" [ngModelOptions]="{ standalone: true }" class="form-control"
                    placeholder="Opis" rows="20"></textarea>
          <small class="form-text text-muted">Maksymalnie 10000 znaków.</small>
        </div>

        <div class="form-group mb-3">
          <label>Lokalizacja</label>
          <input class="form-control" placeholder="Podaj miasto" type="text">
        </div>


        <div class="border-top my-2"></div>

        <div class="form-group mb-3">
          <label>Klauzula obowiązkowa</label>
          <textarea [(ngModel)]="settings.clauseRequired" [ngModelOptions]="{ standalone: true }" class="form-control"
                    placeholder="Opis" rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>

        <div class="form-check">
          <input [(ngModel)]="clauseOpt1" [ngModelOptions]="{ standalone: true }" class="form-check-input"
                 id="clauseCheck1" type="checkbox" value="">
          <label class="form-check-label" for="clauseCheck1">
            Klauzula dodatkowa
          </label>
        </div>

        <div [hidden]="!clauseOpt1" class="form-group mb-3">
          <label>Klauzula dodatkowa</label>
          <textarea [(ngModel)]="settings.clauseOpt1" [ngModelOptions]="{ standalone: true }" class="form-control"
                    placeholder="Opis" rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>

        <div class="form-check">
          <input [(ngModel)]="clauseOpt2" [ngModelOptions]="{ standalone: true }" class="form-check-input"
                 id="clauseCheck2" type="checkbox" value="">
          <label class="form-check-label" for="clauseCheck2">
            Klauzula dodatkowa nr 2
          </label>
        </div>

        <div [hidden]="!clauseOpt2" class="form-group mb-3">
          <label>Klauzula dodatkowa nr 2</label>
          <textarea [(ngModel)]="settings.clauseOpt2" [ngModelOptions]="{ standalone: true }" class="form-control"
                    placeholder="Opis" rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>
      </form>
    </div>

    <a (click)="save()" class="btn btn-primary m-3" role="button">Zapisz</a>
  </ng-template>
</div>
