<div class="card mb-4 box-shadow container-lg p-0">
  <h1 *ngIf="!settings else loaded">Wczytywanie</h1>

  <ng-template #loaded>
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{editMode ? "Edycja oferty pracy" : "Tworzenie nowej oferty pracy"}}</h4>
    </div>
    <div class="card-body row">
      <div class="col-5">
        <img [src]="createImgPath(settings.imgUrl)" alt="Wybierz zdjęcie" class="figure-img img-fluid rounded">

        <app-file-upload (onUploadFinished)="uploadFinished($event)"></app-file-upload>
      </div>

      <form class="col mb-3">

        <div class="form-group mb-3">
          <label>Poziom</label>
          <select class="form-control" [(ngModel)]="enums.jobLevel">
            <option *ngFor="let level of enums.jobLevels">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Typ pracy</label>
          <select class="form-control" [(ngModel)]="enums.jobType">
            <option *ngFor="let level of enums.jobTypes">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Typ rekrutacji</label>
          <select class="form-control" [(ngModel)]="enums.recruitmentType">
            <option *ngFor="let level of enums.recruitmentTypes">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Rozmiar zespołu</label>
          <select class="form-control" [(ngModel)]="enums.teamSize">
            <option *ngFor="let level of enums.teamSizes">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Status</label>
          <select class="form-control" [(ngModel)]="enums.recruitmentStatus">
            <option *ngFor="let level of enums.recruitmentStatuses">{{level}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Dział pracy</label>
          <input [(ngModel)]="settings.field" class="form-control" placeholder="Podaj dział" type="text">
          <small class="form-text text-muted">Maksymalnie 200 znaków.</small>
        </div>

      </form>
      <form class="border-top mt-2 pt-2">

        <div class="form-group mb-3">
          <label>Tytuł ogłoszenia</label>
          <input [(ngModel)]="settings.title" class="form-control" placeholder="Podaj tytuł" type="text">
          <small class="form-text text-muted">Maksymalnie 200 znaków.</small>
        </div>

        <div class="form-group mb-3">
          <label>Krótki opis</label>
          <textarea [(ngModel)]="settings.shortDescription"
                    placeholder="Krótki opis widoczny na karcie przy wyszukiwaniu" class="form-control"
                    rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 500 znaków.</small>
        </div>

        <div class="form-group mb-3">
          <label>Opis oferty</label>
          <textarea [(ngModel)]="settings.description" placeholder="Opis" class="form-control" rows="20"></textarea>
          <small class="form-text text-muted">Maksymalnie 10000 znaków.</small>
        </div>

        <a>TODO: Miasta itd</a>

        <div class="border-top my-2"></div>

        <div class="form-group mb-3">
          <label>Klauzula obowiązkowa</label>
          <textarea [(ngModel)]="settings.clauseRequired" placeholder="Opis" class="form-control" rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="clauseCheck1" [(ngModel)]="clauseOpt1">
          <label class="form-check-label" for="clauseCheck1">
            Klauzula dodatkowa
          </label>
        </div>

        <div class="form-group mb-3" [hidden]="!clauseOpt1">
          <label>Klauzula dodatkowa</label>
          <textarea [(ngModel)]="settings.clauseOpt1" placeholder="Opis" class="form-control" rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="clauseCheck2" [(ngModel)]="clauseOpt2">
          <label class="form-check-label" for="clauseCheck2">
            Klauzula dodatkowa nr 2
          </label>
        </div>

        <div class="form-group mb-3" [hidden]="!clauseOpt2">
          <label>Klauzula dodatkowa nr 2</label>
          <textarea [(ngModel)]="settings.clauseOpt2" placeholder="Opis" class="form-control" rows="5"></textarea>
          <small class="form-text text-muted">Maksymalnie 1000 znaków.</small>
        </div>
      </form>
    </div>

    <a (click)="save()" class="btn btn-primary m-3" role="button">Zapisz</a>
  </ng-template>
</div>
