<footer class="text-white text-center text-lg-start nav_color">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-5 col-md-5 mb-4 mb-md-0">
        <h5 class="text-uppercase">Rekrutacja 2.0</h5>

        <p>
          Profesjonalny interfejs webowy służący do przeprowadzania procesu rekrutacji, wyróżnia się na tle konkurencji
          dzięki systemowi automatycznej analizy kodu źródłowego kandydatów.
        </p>
      </div>

      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">Technologie</h5>
        <div class="row">
          <ul class="list-unstyled col-4 mb-0">
            <li>
              <a class="text-white" href="https://azure.microsoft.com/en-us/" target="_blank">Azure</a>
            </li>
            <li>
              <a class="text-white" href="https://dotnet.microsoft.com/apps/aspnet" target="_blank">Asp.NET 6</a>
            </li>
            <li>
              <a class="text-white" href="https://angular.io/" target="_blank">Angular</a>
            </li>
            <li>
              <a class="text-white" href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
            </li>
          </ul>

          <ul class="list-unstyled col mb-0">
            <li>
              <a class="text-white" href="https://docs.microsoft.com/en-us/ef/ef6/" target="_blank">Entity Framework
                6</a>
            </li>
            <li>
              <a class="text-white" href="https://duendesoftware.com/" target="_blank">Identity Server</a>
            </li>
            <li>
              <a class="text-white" href="https://www.sonarqube.org/" target="_blank">SonarQube</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-2">Autor</h5>
        <h5 class="mb-0">Patryk Amsolik</h5>
        <ul class="list-unstyled mt-2">

          <li>
            <a class="text-white" href="https://github.com/pamsolik" target="_blank">GitHub</a>
          </li>

          <li>
            <a class="text-white" href="https://www.linkedin.com/in/patryk-amsolik-5112b0163/"
               target="_blank">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    CARS
  </div>
</footer>
