<footer class="text-white text-center text-lg-start nav_color">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Rekrutacja 2.0</h5>

        <p>
          Profesjonalny interfejs webowy służący do przeprowadzania procesu rekrutacji.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Technologie</h5>

        <ul class="list-unstyled mb-0">
<!--          <li>-->
<!--            <a class="text-white" href="https://azure.microsoft.com/en-us/">Azure</a>-->
<!--          </li>-->
          <li>
            <a class="text-white" href="https://dotnet.microsoft.com/apps/aspnet">Asp.NET 6</a>
          </li>
          <li>
            <a class="text-white" href="https://angular.io/">Angular</a>
          </li>
          <li>
            <a class="text-white" href="https://www.postgresql.org/">PostgreSQL</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Autorzy</h5>

        <ul class="list-unstyled mt-2">

          <li>
            <a class="text-white" href="https://github.com/pamsolik">Patryk Amsolik</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    CARS
  </div>
  <!-- Copyright -->
</footer>
