<article class="row">
  <div class="col-3 card p-0">
    <div class="card-header">
      <h5 class="my-0 font-weight-normal">Wyszukaj</h5>
    </div>
    <div class="card-body p-0 ">

      <article class="card-group-item">
        <div class="filter-content">
          <div class="card-body">
            <div class="form-row">

              <a (click)="clearFilters(); loadData()" class="btn btn-warning mb-2 w-100" role="button">Wyczyść filtry
                &raquo;</a>
              <a (click)="loadData()" class="btn btn-primary mb-2 w-100" role="button">Zastosuj filtry &raquo;</a>

              <div class="form-group">
                <label>Oferta</label>
                <input [(ngModel)]="filters.searchString" class="form-control" placeholder="Wyszukaj oferty"
                       type="text">
              </div>

              <div class="border-top my-3"></div>

              <div class="form-group">
                <label>Lokalizacja</label>

                <!--                <input class="form-control" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" />-->

                <input class="form-control" placeholder="Wprowadź lokalizację" type="text">
              </div>

              <div class="form-group mt-2">
                <label>Dystans (km)</label>
                <div class="custom-slider">
                  <ngx-slider [(value)]="filters.distance" [options]="options"></ngx-slider>
                </div>
              </div>

              <div class="border-top my-3"></div>

              <div class="form-group">
                <label>Typ pracy</label>
                <div *ngFor="let type of enums.jobTypes; let i = index" class="form-check">
                  <input [(ngModel)]="filters.jobTypes[i]" [value]="i" class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    {{type}}
                  </label>
                </div>
              </div>

              <div class="border-top my-3"></div>

              <div class="form-group">
                <label>Poziom</label>
                <div *ngFor="let type of enums.jobLevels; let i = index" class="form-check">
                  <input [(ngModel)]="filters.jobLevels[i]" [value]="i" class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    {{type}}
                  </label>
                </div>
              </div>

              <div class="border-top my-3"></div>

              <div class="form-group">
                <label>Wielkość zespołu</label>
                <div *ngFor="let type of enums.teamSizes; let i = index" class="form-check">
                  <input [(ngModel)]="filters.teamSizes[i]" [value]="i" class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    {{type}}
                  </label>
                </div>
              </div>

              <div class="border-top my-3"></div>
            </div>
          </div>
        </div>

      </article>
    </div>
  </div>

  <div class="col p-1">
    <h1 *ngIf="!offers else loaded">Wczytywanie</h1>

    <ng-template #loaded>
      <select [(ngModel)]="sortOrder" class="form-control mb-2">
        <option *ngFor="let order of sortOrders">{{order}}</option>
      </select>

      <mat-card *ngFor="let offer of offers.items" [routerLink]="[redirectUrl + offer.id]" class="mb-1">
        <div class="row">
          <div class="col-4">
            <img [src]="createImgPath(offer.imgUrl)"
                 alt="Thumbnail image"
                 class="img-fluid">

          </div>
          <div class="job-desc col">
            <h5 class="card-title">{{offer.title}}</h5>
            <p>{{offer.shortDescription}}</p>

            <p class="mt-1">{{offer.daysAgo}}</p>
          </div>
        </div>
      </mat-card>

      <mat-paginator (page)="applyFilter($event); loadData()"
                     [length]="offers.totalItems"
                     [pageIndex]="0"
                     [pageSizeOptions]="[2, 5, 10, 25, 100]"
                     [pageSize]="filters.pageSize"
                     aria-label="Wybierz stronę"
                     id="paginator">
      </mat-paginator>
    </ng-template>
  </div>
</article>
